*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#fff024,#f0f333);

}

.navbar{
    border-bottom: yellow black 0.5px;
    border-radius: 4px;
    box-shadow:0px 3px 12px rgb(150, 150, 21);
    background-color: rgba(255, 255, 0, 0.747);
    /* position: sticky; */
    direction: rtl;
    
}
.h4{
    display: inline;
}
#navigation{
    display:inline;
    direction: ltr;
    margin-right: 100px;


}
.ForNavbar{
    border: solid rgba(255, 255, 0, 0.747) 0.05px;
    background-color: rgba(255, 255, 255, 0.726)
    

}
.person{
    display:inline;
    width: 20px;
    height: 20px;
}

/*************************navbar***********************/

.main{
    color: black;
    margin-top: 20px;
    padding: 0px;
    width: 100%;
    height: 80%;
    border-radius: solid black 2px;

}
.content{
    margin: 20px 0 0 0;
    border-radius: 30px;
    height: 45%;
    box-shadow: 5px 2px 15px black;
}
.pic{
    width: 150px;
    height: 150px;
    border: solid greenyellow 2px;
    border-radius: 30px;
}
.img{
    width: 130px;
    height: 130px;
    border-radius: 30px;
    margin: 10px;
    
}
.img2{
    direction: rtl;
    width: 130px;
    height: 130px;
    border-radius: 30px;
    margin: -120px 00px 100px 520px;

}
.price{
    
    width: 70%;
    height: 80%;
    direction: rtl;
    text-align: right;
    margin:-120px 0px 0px 190px ;

    
}
.price2{
    width: 70%;
    height: 85%;
    direction: rtl;
    text-align: right;
    margin: 20px 0 0 20px;
    padding: 20px 0 0 0;
    overflow: hidden;
}
.box{
    transform: translateX(300%);
    transition: transform 0.8s ease;
}

.box:nth-of-type(even){
    transform: translateX(-300%);
}
.box.show{
    transform: translateX(0);
}
button{
    z-index: 3;
}
/************************************main**************************************/
hr{
    margin-top: 1000px;
}

.footer{
    margin-top: 10px;
    display: block;
    z-index: 4;
    direction:rtl;
    text-align: center;
    
}
.imgg{
    width: 150px;
    height: 150px;
    border: solid yellow 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px yellow;
    direction: ltr;
    margin-right: 510px;
    
}
.footer-img{
    display: inline;
    direction: ltr;
}
.footer-info{
    
    width:515px ;
    height: 150px;
    margin-left:150px ;
    margin-top: -150px;
}



@media (min-width:381px) {
    #navigation{
       margin-right: 10px !important;
        }
    .img2{
        margin: -152px 00px 00px 524px;
    }
    .price{
        padding: 00 100px 00 00;
    }
    .price2{
        padding: 40px 90px 00 00;
    }
    hr{
        margin-top: 1300px;
    }
    .imgg{
        margin-right: 270px ;
        width: 100px;
        height: 100px;
    }
    .footer-info{
        width: 255px;
        height: auto;
        margin-top: -100;
    }
    .footer-img{
        display: block;
    }
    
}

@media screen and (max-width:400px){
    .img2{
        margin: -236px 169px -308px 260px;
    }
}

 /* @media (min-width:500px) {
    #navigation{
    margin-right: 260px;
    }
    .img2{
        margin-left: 550px;

    }
    
 }  */
 @media (max-width:570px) { 
    #navigation{
    margin-right: 180px;
    }
    .img2{
        margin-left: 250px;
        margin-bottom: -60px;
        margin-right: 1000px;
    }
    .price2{
        padding-right: -100px;
    }
    .price{
        padding-right: 100px ;
        
    }
    .img{
        margin-top: 20px;
    }

    
}
@media (max-width:680px) {
    .footer-info{
    width:250px ;
    height: 150px;
    margin-left:150px ;
    margin-top: -70px !important;
}
.imgg{
    width: 110px;
    height: 110px;
    border: solid yellow 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px yellow;
    direction: ltr;
    margin-right: 525px ;
    
}
/* hr{
    margin-top:965px !important;
} */
    
}


@media (min-width:970px) {
    #navigation{
        margin-right: 600px;
        }
        .img2{
            margin-left: 10px;
        }
        .imgg{
            margin-right: 1000px;
        }
        .footer-info{
            width: 900px;
        }
        
    
}

@media (min-width:1366px) {
    #navigation{
        margin-right: 1000px;
    }
    .img2{
        margin-right: 1250px;
        margin-left: 1100px;
        /* padding-right: 50px; */
    }
    .imgg{
        margin-right: 1150px;
    }
    .footer-info{
        width: 1000px;
    }
    .footer-img{
        margin-right: 500px;
    }
    
}